.TagContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.TagContainer span {
  display: flex;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  word-wrap: break-word;
}

.Square {
  width: 0.5vw;
  height: 0.5vw;
  border-radius: 25px;
  padding: 5px;
}
.red {
  background: rgb(255, 0, 0);
}
.green {
  background: rgb(111, 255, 98);
}
.grey {
  background: rgb(118, 118, 118);
}


@media (max-width: 768px) {
  .TagContainer span {
    font-size: 10px;
  }
}
