.NavbarBackgroundImage {
    background-color: #363e40;
    background-image: url('./img/bg_image1.png');
}

.ContainerWrapper {
    position: relative;
    width: 100%;
    height: 92vh;
    top: 8vh;
}

.screenshotForStatistic {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #363e40;
    background-image: url('./img/bg_image1.png');
    z-index: 22;
}


.Header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Digital-Italic';
    padding: 30px 0;
    color: rgb(255, 255, 255);
    width: 100%;

}

.HeaderEmblem {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 50%;
    height: 150px;
}


.HeaderEmblem img {
    width: 140px;
}

.HeaderEmblem img:hover {
    width: 150px;

}

.HeaderInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

.HeaderInfoH h2 {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}

.HeaderInfoH h1 {
    display: flex;
    justify-content: center;
    font-size: 45px;
    font-family: 'Roboto';
    font-size: 2.8em;
    margin: 10px 0;

}

.HeaderInfoSpan {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.HeaderInfoSpan span {
    display: flex;
    justify-content: center;
    align-items: baseline;
    /*   font-size: 1.5em; */
    margin: 2.5px 0;
}

.HeaderInfoSpan h2 {
    color: rgb(255, 242, 0);

}

.Content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 70%;
}


@media(max-width:1023px) {

    .ContainerWrapper {
        font-size: 12px;
    }

    .Content {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }
}


@media(max-width:768px) {

    .ContainerWrapper {
        font-size: 8px;
    }

    .HeaderInfoH h2 {
        font-size: 1em;
    }

    .HeaderInfoH h1 {
        font-size: 2em;
    }


    .HeaderEmblem img {
        width: 70px;

    }

    .Content {
        height: 75%;

    }
}

.ButtonContainer {
    position: absolute;
    bottom: 60px;
    left: 5px;
    z-index: 23;

}

@media(max-width:375px) {
    .Header {
        padding: 5px 0;
    }

    .HeaderInfoH h1 {
        margin: 5px 0;
    }

    .ContainerWrapper {
        font-size: 7px;
    }

    .Content {
        height: 78%;

    }
}