.Container {

    display: flex;
    justify-content: space-between;
    font-family: 'Digital-Italic';
    color: rgb(255, 255, 255);
    width: 40%;
    height: 10%;
}

.leftWrapper {
    display: flex;

}

.leftWrapperSvg {
    width: 35px;
    background: rgba(183, 183, 183, 0.346);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftWrapperSvg img {

    width: 80%;
}

.leftWrapperValue {
    display: flex;
    justify-content: center;
    align-items: center;
}


.rightWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}







.rightWrapperInfoContentUa {
    font-family: Strict;
    font-size: 150%;
    color: rgb(255, 242, 0);
}