.Container {
  display: flex;
  justify-content: center;
  font-family: "Digital-Italic";
  background-color: rgba(253, 253, 253, 0.7098039216);
  color: #606060;
  width: 90vw;
  height: 4.3vh;
  padding: 0;
  border: none;
  margin-bottom: 5px;
  border-radius: 15px;
  font-size: 7px;
}
.Container .leftWrapper {
  display: flex;
  width: 53%;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5px;
}
.Container .leftWrapperSvg {
  max-width: 25px;
  max-height: 25px;
  background: rgba(255, 255, 255, 0.6901960784);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  order: 2;
}
.Container .leftWrapperSvg img {
  max-width: 50px;
  max-height: 25px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  width: 25px;
  height: 25px;
}
.Container .leftWrapperValue {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  font-size: 4.5em;
  margin-left: 5px;
  color: #000000;
}
.Container .isIncrease {
  color: #b73a67;
}
.Container .leftWrapperValueIncrease {
  display: flex;
  flex-direction: column;
  font-size: 0.5em;
  width: 31px;
  padding-top: 5px;
}
.Container .leftWrapperValueIncrease span {
  color: #000000;
}
.Container .leftWrapperValueIncreaseUp {
  height: 5px;
  font-size: 2em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 5px;
}
.Container .leftWrapperValueIncreaseDown {
  display: flex;
  justify-content: flex-end;
  padding: 0 5px;
}
.Container .rightWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  white-space: nowrap;
  width: 45%;
  padding-left: 5px;
}
.Container .rightWrapperInfoContentUa {
  font-family: Strict;
  font-size: 1.7em;
  color: rgba(0, 0, 0, 0.8549019608);
}
.Container .rightWrapperInfoContentEn {
  font-size: 1.4em;
}

@media (min-width: 375px) and (max-width: 1023px) {
  .Container {
    font-size: 9px;
    height: 4.55vh;
  }
  .Container .leftWrapperSvg {
    max-height: 100%;
    max-width: 100%;
    width: 40px;
    height: 30px;
  }
  .Container img {
    max-height: 25px;
    max-width: 50px;
    -o-object-fit: scale-down;
       object-fit: scale-down;
  }
  .Container .rightWrapperInfoContentUa {
    font-size: 1.6em;
  }
  .leftWrapperValue {
    font-size: 4.35em;
  }
}
@media (min-width: 1024px) {
  .Container {
    justify-content: space-between;
    width: 40%;
    height: 10%;
    padding: 30px;
    font-size: 13px;
  }
  .Container .leftWrapper {
    width: auto;
    align-items: center;
    font-size: 16px;
  }
  .Container .leftWrapperSvg {
    width: 50px;
    height: 50px;
    margin-left: 0;
    border-radius: 15px;
    max-width: none;
    max-height: none;
    justify-content: center;
    order: 0;
  }
  .Container .leftWrapperSvg img {
    max-height: 45px;
    max-height: 45px;
    width: 80%;
    height: auto;
  }
  .Container .leftWrapperValue {
    justify-content: center;
    width: 115px;
    font-size: 2em;
  }
  .Container .rightWrapper {
    align-items: flex-end;
    padding-left: 5px;
    width: 45%;
  }
  .Container .rightWrapperInfoContentUa {
    font-size: 1.4em;
  }
  .Container .rightWrapperInfoContentEn {
    font-size: 1.2em;
  }
}/*# sourceMappingURL=Info.module.css.map */