.errorContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: 'Roboto';
  background: #94979e53;
}

.errorContainer img {
  background-color: #94979e53;
  width: 150px;
}

.errorContainer h2 {
  color: rgb(0, 0, 0);
  font-size: medium;
  margin-top: 50px;
}