.TagContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1vh;
}
.TagContainer span {
  display: flex;
  font-size: 1.5vw;
  font-family: "Roboto", sans-serif;
  word-wrap: break-word;
  margin-right: 3vh;
}

.Square {
  width: 0.5vw;
  height: 0.5vw;
  border-radius: 25px;
  padding: 5px;
  margin-left: 3vh;
}
.red {
  background: rgb(255, 0, 0);
}
.green {
  background: rgb(111, 255, 98);
}
.grey {
  background: rgb(118, 118, 118);
}

@media (min-width: 280px) {
  .TagContainer span {
    font-size: 2vh;
  }
  /* galaxy fold */
}
@media (min-width: 320px) {
  .TagContainer span {
    font-size: 3vw;
  }
  /* smartphones, iPhone, portrait 480x320 phones */
}
@media (min-width: 481px) {
  .TagContainer span {
    font-size: 1.8vw;
  }
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (min-width: 641px) {
  .TagContainer span {
    font-size: 1.8vw;
  }
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media (min-width: 961px) {
  .TagContainer span {
    font-size: 1.5vw;
  }
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  .TagContainer span {
    font-size: 1.5vw;
  }
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  .TagContainer span {
    font-size: 1.5vw;
  }
  /* hi-res laptops and desktops */
}
