.Container {
  position: relative;
  width: 100%;
  height: 92vh;
  top: 8vh
}

.ContainerWrapper {
  position: relative;
  width: 100%;
  height: 100%;

}



@media(max-width:410px) {
  .screenshot {
    position: absolute;
    top: 180px;
    right: 26px;
    width: 29px;

  }
}

@media(min-width:411px) {
  .screenshot {
    position: absolute;
    top: 180px;
    right: 50px;
    width: 29px;
  }
}

@media(min-width:451px) {
  .screenshot {
    position: absolute;
    bottom: 130px;
    top: inherit;
    right: 51px;
    width: 29px;

  }
}