.Container {
  position: relative;
  width: 100%;
  height: 100%;
}

.pc {
  position: absolute;
  bottom: 120px;
  right: 51px;
  width: 29px;
  
}
.smartphone {
  position: absolute;
  bottom: 255px;
  right: 27px;
  width: 29px;
  
}
