.Legend {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  bottom: 25px;
  left: 25px;
  padding: 15px;
  width: 340px;
  font-size: 16px;
  border-radius: 2px;
  border: 1px solid #ffcd00;
  background-color: rgba(255, 255, 255, .9);
}

.RefreshMessage {
  margin-top: 25px;

}
