.TimerContainer {
  font-family: "Roboto", sans-serif;
  word-wrap: break-word;
  font-size: 20px;
  padding: 0 0.5vw;
}

@media (max-width: 768px) {
  .TimerContainer {
    font-size: 10px;
  }
}
@media (max-width: 370px) {
  .TimerContainer {
    font-size: 9px;
  }
}
